[DEFAULT]
db_path = sqlite:///db.sqlite3

[userdata_api]
creds_directory =
host = localhost
port = 8080
public_url_base = http://127.0.0.1:8080

[photos_api]
creds_directory =
host = localhost
port = 8000
public_url_base = http://127.0.0.1:8000
